.performance-btn {
    border-radius: 16px 0px 0px 16px !important;
    border: none;
}

.performance-btn span {
    font-size: 1.1rem;
    padding: 5px;
}

.performance-btn.rbToggled {
    background: #337ab7 !important;
}

.performance-btn.rbToggled span {
    color: white;
}

.frequency-btn {
    border-radius: 0px 16px 16px 0px !important;
}

.frequency-btn span {
    font-size: 1.1rem;
    padding: 5px;
}

.frequency-btn.rbToggled {
    background: #337ab7 !important;
}

.frequency-btn.rbToggled span {
    color: white;
}

/* Color Scale Visualization */
.text-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.text-wrapper h4{
    margin: 16px 0px !important;
}

.group-box-wrapper {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-box {
    display: flex;
}

.box-wrapper-stages {
    height: 200px;
    width: 100px;
    background: linear-gradient(to bottom, #be1300 20%, #f25831 20% 40%, #ff9457 40% 60%,#ffce89 60% 80%, #fff0d9 80%);
    clip-path: polygon(60% 100%, 100% 100%, 100% 0, 0 0);
    text-align: end;
}

.box-wrapper-arrows {
    height: 200px;
    width: 100px;
    background-image: linear-gradient(180deg, #b91200, #787679);
    clip-path: polygon(0 100%, 40% 100%, 100% 0, 0 0);
}


.stages-text-wrapper{
    height: 200px;
    /*position: absolute;*/
    margin-right: 8px;
}

.scale-text {
    height: 37px;
    color: black;

}


/*frequency scale*/

.frequency-scale-container {
    margin-top: 40px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.freq-scale-numbers {
    height: 200px;
    margin-right: 0.5rem;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.freq-scale {
    height: 200px;
    width: 55px;
    background: linear-gradient(to bottom, #000eff 25%, #404bff 25% 50%, #7f87ff 50% 75%, #D1D1D1 75%);
    text-align: end;
}

.scale-text {
    color: black;
}