.k-card-actions p {
    margin: 0px !important;
}

.top-flex-space {
    margin-top: 16px !important;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 15px;
}

.red {
    background-color: #E50000 !important;
}

.yellow {
    background-color: #ffff4d !important;
}

.green {
    background-color: #329932 !important;
}

.k-card {
    width: 100% !important;
}

